<h1>Share your story <br/><small>submissions close 27 Nov 2015</small></h1>
<div class="row" style="">
	<blockquote class="col-sm-6 col-sm-offset-3">
		<p><strong>
			<img src="<%=image_path('Nat-Headshot.jpg')%>" style="max-width:30%; float:left; width:150px; padding:15px;"/>“We’re continuing to see allegations of the misuse and abuse of workers engaged by rogue labour hire companies. This inquiry will address how the labour hire industry can be better regulated, and how the rights of these workers can be better protected.”
		</strong></p>
		<p><strong>
	“Most Victorian employers, from farmers to small business owners, are treating their workers properly. They shouldn’t face an uneven playing field because of those doing the wrong thing.”
		</strong></p>
		<footer>Natalie Hutchins, Victorian Minister for Industrial Relations</footer>
	</blockquote>
</div>

<div style="margin-bottom:3em;">
	<h3 class='text-center'>We're going to prompt you with a series a questions the inquiry is looking to have answered</h3> 

	<p class='text-center'>
		Your answers will be compiled into a story below, that you can edit before submission.
	</p>
</div>

<%= render 'form' %>

<%= link_to 'Back', recs_path %>
