<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <hgroup>
      <h1>Share your story</h1>
      <h4>SUBMISSIONS CLOSE 27 NOV 2015</h4>
    </hgroup>

    <% if @union.union_rep.quote.url %>
      <div class="row">
        <blockquote>
          <p>
            <img src="<%=@union.union_rep.quote.url%>" />
            <%=@union.union_rep_quote%>
          </p>
          <footer><cite><%=@union.union_rep_cite%></cite></footer>
        </blockquote>
      </div>
    <% end %>

    <div style="margin-bottom: 3rem;">
      <h3 class='text-center'>We're going to prompt you with a series a questions the inquiry is looking to have answered.</h3>

      <p class='text-center'>
        Your answers will be compiled into a story below, that you should edit.
      </p>
    </div>

    <%= render 'form' %>
  </div>
</div>