<div class="comment">
  <span class="glyphicon glyphicon-user"></span>
  <%="#{comment.person.display_name} @ #{comment.created_at}" %>  
  <% if current_person == comment.person %>
		<small><%=link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right delete" %></small>
	<% end %> 
  <p class="comment_body">
    <%= comment.body %>
  </p>
</div>
