<% if current_person %>
	<div style="position:relative; float:right">
	<%= link_to current_person.follows?(@supergroup) ? "unfollow" : "follow", follow_polymorphic_path, class: "btn btn-primary supergroup-follow" %>	
	</div>
<% end %>