<% if current_person %>
  <div class="follow-container">
    <%= link_to current_person.follows?(@supergroup) ? "unfollow" : "follow", follow_polymorphic_path, class: "btn btn-primary btn-follow-sg" %>
  </div>
<% end %>
