<p>
  <strong>Body:</strong>
  <%= post.body %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= post.attachment %>
</p>

<p>
  <strong>Person:</strong>
  <%= post.person %>
</p>

<p>
  <strong>Parent:</strong>
  <%= post.parent %>
</p>