// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_comment {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: -15px;
}

.comment {
  margin-top: 10px;
  margin-left: 30px;
}

.comment_body {
  background-color: #fefefe;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 0px;
}