// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_logo {
	border-width: 5px;
	background-color: #fff;
	border-color: #AAA;
	border-style: solid;
	//box-shadow: 3px 3px #666;
	width: 90px;
	height: 90px;
}
