// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Styles profile pics on the directory (index people) page */
.profile_logo {
	border-width: 5px;
	background-color: #fff;
	border-color: #AAA;
	border-style: solid;
	width: 90px;
	height: 90px;
}
