// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post {
  background-color: #fee;
  border: 1px solid #444;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 1em;
  margin-bottom: 1em;

  border-radius: 5px;
}

.post_image {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.post_body {
  background-color: #fefefe;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 0px;
}

.margins {
	margin: 15px;
}