// Place all the styles related to the recs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  background-color: transparent !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.bootstrap-switch-id-rec_taking_action {
	float:right;
}

.rec {
  background-color: #fefefe;
  border: 1px solid #444;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 1em;
  margin-bottom: 1em;

  padding: 15px;
  border-radius: 5px;
}

.new-button {
	margin: 15px;
	margin-bottom: 15px !important;
}

.rec h1, .rec h2, .rec h3 {
	margin-left: 0px !important;
}

.rec-follow a:link,
.rec-follow a:visited,
.rec-follow a:hover,
.rec-follow a:focus,
.rec-follow a:active {
    color: white !important;
}
