// Place all the styles related to the supergroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner-placeholder {
	#position: absolute;
	#right:0;
	width:100%;
	#margin-left: -30px;
	#margin-top: -20px;
}

.banner-image {
	width:100%;
}

.logo-image {
	width:100%;
	max-width: 400px;
}

.banner-title .logo-thumb {
}

.logo-thumb {
	border-width: 5px;
	background-color: #fff;
	border-color: #AAA;
	border-style: solid;
	#box-shadow: 3px 3px #666;
}

.banner-placeholder .banner-title {
	margin-top: -80px;
	margin-left: 15px;
}
.banner-placeholder-shim {
	height: 400px;
}

.banner-title a:visited {
    color: #fff !important;
}

.banner-title a:hover {
    color: #fff !important;
    text-decoration: none;
}

.banner-title a {
    color: #fff !important;
    font-weight: bold;
    text-shadow: 2px 2px #AAA;
}

.posts {
	margin-left: 15px;
	margin-right: 15px;
}

