<p><%= t("devise.mailer.invitation_instructions.hello", first_name: @resource.first_name) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", first_name: @resource.invited_by.first_name, union: @resource.invited_by.union.name,  url: root_url) %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<h1>What's this for?</h1>
<p>
	This website has been thrown together by Victoria Trades Hall Council to help unions collect submissions for the Victorian Government's Inquiry into Labour Hire and Insecure Work.  
</p>
<h1>How does it help?</h1>
<p>It allows you to quickly setup and brand your own union campaign page for collecting submissions to the inquiry</p>
<p>If you are concerned about driving web traffic away from your website, you can embed the submission list and submission collection instead.</p>
<p>The submission form is designed to provoke detailed responses from people who may not have realised the negative impact of insecure work on their lives</p>
<p>You and your contributors can upload video testimony to make submissions more news-worthy</p>
<p>You are notified when a submission is added to your union.  And you can moderate submissions.</p>
<p>It encourages sharing with friends and family</p>

<h1>Not interested?</h1>
<p><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
